.landing_wrapper {
  width: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1e1a22;
  position: relative; 
}

.landing_wrapper::before {
  content: "Devel\Aopment";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(4rem, 22vw, 28vh);
  font-family: 'Inter';
  font-weight: 700;
  line-height: 1;
  color: #7e7b7b1e;
  white-space: pre;
  word-break: break-word;
  pointer-events: none; 
  z-index: 0; 
}




.left_side {
  width: auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 1%;
}

.title {
  margin: 0;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.05;
  font-size: clamp(1rem, 1.5vw + 1rem, 3rem);
  display: block;
  white-space: normal; 
  word-break: break-word;
  overflow-wrap: break-word;
}

.title span,
.typing_inline {
  font-family: "CascadiaCode", monospace;
  text-transform: lowercase;
  font-weight: 400;
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  font-size: 0.9em; 
  margin-top: 0.2em;
  word-break: break-word;
}

.title strong {
  color: #50df89;
  position: relative;
  z-index: 5;
}

.navigation {
  width: 100%;
  height: auto;
  display: flex;
  font-size: 15px;
  padding-bottom: 20px;
  gap: 20px;
}

.navigation_button {
  position: relative;
  display: inline-block;
  max-width: 200px;
  font-size: 1.5em;
  font-family: "inter";
  font-weight: 700;
  color: #ffffff;
  background-color: #ffffff00;
  border-radius: 50px;
  cursor: pointer;
  border: #ffffff 4px solid;
  overflow: hidden;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  z-index: 1;
  user-select: none;
  width: 100%;
}

.navigation_button:hover {
  background-color: transparent;
  color: #000000;
  background-color: #ffffff;
  color: #000000;

  
}

.navigation_button:hover::before {
  opacity: 1;
}

.navigation_button:hover::after {
  opacity: 1;
}

.contact_button {
  user-select: none;
  position: relative; 
  height: 75px;
  width: 100%;
  max-width: 320px;
  background-color: rgba(255, 255, 255, 0);

  box-shadow: inset 0 0 0 4px #ffffff;
  border-radius: 50px;
  font-size: 1.5em;
  font-family: "Inter";
  font-weight: 750;
  line-height: 1.2;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;

  color: #ffffff;
  padding-left: 30px;
  --dot-size: clamp(50px, 10vw, 50px);
  padding-right: calc(var(--dot-size) + 28px);

  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 0);
  cursor: pointer;
}


.contact_button::before {
  content: "";
  position: absolute;
  right: 0; 
  top: 50%;
  transform: translateY(-50%) translateX(-26%); 
  width: var(--dot-size);
  height: var(--dot-size);
  background-image: url('/images/landing/arrow.png');
  background-size: 40%; 
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  background-color: transparent; 
}


.contact_button a {
  color: #000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  position: absolute;
  user-select: none;
}

.contact_button > * {
  position: relative;
  z-index: 10;

}


.contact_button::after {
  content: "";
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 50%;
  right: 16px; 
  transform: translateY(-50%);
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 9999px; 
  background-color: #ffffff;

  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 0);
  will-change: transform;
  transform-origin: right;
  z-index: 1; 
}


.contact_button:hover::after {
  height: 100%;
  width: 100%;
  right: 0%;
  background-color: #ffffff;
  color: #000;
}

.contact_button:hover span {
  opacity: 1;
  visibility: visible;
}

.contact_button:hover {
  color: #000000;
}



.arrow {
  position: absolute;
  width: 18px;
  height: 18px;
  z-index: 10;
  right: 14%; 
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.character_container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;

}

.character_animation {
  width: auto;
  height: 100%;
  max-width: 800px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

   animation: char-sway 3s ease-in-out infinite;

  animation-delay: 0.15s;
}

.gradient_ring {
  max-width: 550px;
  width: calc(300px + 12vw); 
  height: calc(300px + 12vw);
  transition: width 0.4s ease, height 0.4s ease;  
}


@keyframes ring-rock {
  0%   { transform: translateX(-0.5%) ; }
  50%  { transform: translateX( 0.5%) ; }
  100% { transform: translateX(-0.5%) ; }
}

@keyframes char-sway {
  0%   { transform: translateX(-0.5%); }
  50%  { transform: translateX( 0.5%); }
  100% { transform: translateX(-0.5%); }
}



.character_image {
  width: calc(200px + 12vw);  
  height: calc(200px + 12vw);
  border-radius: 50%;
  max-width: 444px;
  max-height: 444px;
  position: absolute;
  translate: 0.5% 0;
  background-image: url('/images/landing/character.png');
  background-repeat: no-repeat;       
  background-position: center center;
  background-size: cover;          
  transition: width 0.4s ease, height 0.4s ease; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.character_hover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
  pointer-events: none;
  z-index: 1;
}

.character_hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(45, 47, 48, 0.767),
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.page_hover {
  position: absolute;
  height: 40%;
  z-index: 1;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(45, 47, 48, 0.678),
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
  z-index: 0;
  transition: opacity 1.4s ease;
}

.page_hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(84, 65, 255, 0.527),
    rgba(0, 0, 0, 0)
  );
  opacity: 0;
  z-index: 4;
  transition: opacity 1.4s ease;
}


.character_hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(81, 116, 180, 0.9),
    rgba(0, 0, 0, 0)
  );
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
}




.character_image:hover .character_hover::before {
  opacity: 0;
}


.landing_wrapper:has(.character_image:hover) .page_hover::after {
  opacity: 1;
}


.character_image:hover .character_hover::after {
  opacity: 1;
}


.character_image::before {
  content: "";

  height: 100%;
  transform: translateY(110%);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  pointer-events: none;

  background: #5e60e2;

  background-repeat: no-repeat;
  background-size:
    100% 100%; 

  background-position:
    bottom,
    bottom;

}

.character_image.animate::before {
  animation: hover-download 1.8s cubic-bezier(.22,1,.36,1) forwards;
}


@keyframes hover-download {
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
  }
}

.button_character {
  position: absolute;

  display: flex;
  justify-content: center;
  bottom: 20%;
  font-size: clamp(18px, 4vw, 25px);
  font-family: 'Inter';
  font-weight: 700;
  line-height: 1;

  color: #ffffff;
  text-shadow:
    0 0 2px rgba(255,255,255,.5),
    0 0 6px rgba(255,255,255,.4),
    0 0 16px rgba(255,255,255,.25),
    0 0 32px rgba(255,255,255,.2);

  white-space: pre;
  pointer-events: none;
  z-index: 3;

   transition:
    color 0.4s ease,
    text-shadow 0.4s ease;

}

.typing_inline {
  display: inline-block;      
  white-space: pre-wrap;     
  vertical-align: baseline;
  line-height: inherit;       
  writing-mode: horizontal-tb !important; 
  transform: none !important;            
}


.typing_inline span,
.typing_inline strong,
.typing_inline .typed_char,
.typing_inline .typed_bold {
  display: inline !important;
  white-space: pre !important;   
  vertical-align: baseline !important;
  margin: 0 !important;
  padding: 0 !important;
  transform: none !important;
  writing-mode: horizontal-tb !important;
}


.typing_inline * {
  display: inline !important;
  writing-mode: horizontal-tb !important;
}


.cursorContainer { 
  display:inline-block; 
  vertical-align: text-bottom; 
  margin-left: .125rem; 
}

.cursor { 
  display:inline-block; 
  animation: typing-blink 1s steps(1,end) infinite; 
  line-height:1; 
}

@keyframes typing-blink { 
  50% { 
    opacity:0 
  } 
}




@media (max-width: 1070px) {
  .landing_wrapper {
    flex-direction: column-reverse;
  }
  .left_side {
    justify-content: start;
    height: auto;
  }
  .character_container {
    height: auto;
  }

  .character_image {
    width: calc(250px + 8vw); 
    height: calc(250px + 8vw); 
  }  
  .gradient_ring {
    width: calc(350px + 8vw);  
    height: calc(350px + 8vw);
  }

  .navigation {
    display: flex;
    justify-content: center;
  }
  .title {
    text-align: center;
  }

}




@media (max-width: 600px) {

  .navigation{
    font-size: 10px;
    gap: 10px;
  }

  
.button_character  {

  font-size: clamp(18px, 4vw, 20px);
}
  

  .title {
    font-size: clamp(1rem, 1.5vw + 0.9rem, 1.2 rem);
  }

   .character_image {
    width: calc(190px + 8vw); 
    height: calc(190px + 8vw); 
  }  
  .gradient_ring {
    width: calc(250px + 8vw);  
    height: calc(250px + 8vw);
  }

  .contact_button{
    padding-right: 0px;
    padding-left: 0;
    justify-content: center;
  }

  .navigation{
    padding: 10px;
  }

  .contact_button::after{
    display: none;
  }
  .contact_button:hover{
    background-color: #ffffff;
  }

  .contact_button::before{
    display: none;
  }


}


