.landing_wrapper {
  width: 100%;
  height: 100vh; 
  display: flex;
  background-color: #302e2e;

}

.back_1 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('/images/landing/back.png');
  background-repeat: repeat-x; 
  background-size: auto 100%; 
  animation: scrollBackground 30s linear infinite !important;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0; 
  }
}


.landing_background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;     
  bottom: 0;             
  left: 50%;             
  transform: translateX(-50%); 
}

.title {
  width: auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  gap: 0.01em; 
  align-items: center;
  font-family: "Intro";
  color: #fdfdfd;
  font-size: clamp(35px, 5.5vw, 60px);
  z-index: 5;
  text-transform: uppercase;
  text-shadow: 2px 4px 6px rgb(0, 0, 0);
  text-align: center;
}


.title span {
  display: block;
  font-family: "CaviarDreams";
  color: #eef2f8;
   font-size: clamp(35px, 3vw, 45px);
  text-transform: lowercase;
}

.navigation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation_button {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  font-size: 30px;
  font-family: "CaviarDreams";
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
  z-index: 1;
  border: none;
  box-shadow: -1.618px 2px 0px 0px rgba(0, 0, 0, 0.43);
  user-select: none;
}


.navigation_button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: inherit;
  background: linear-gradient(90deg, #5c4aff, #ff7e29);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: -1;
  user-select: none;
}

.navigation_button::after {
  content: "";
  position: absolute;
  inset: -10px; 
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -2; 
}

.navigation_button:hover {
  background-color: transparent;
  color: #000000;
}

.navigation_button:hover::before {
  opacity: 1;
}

.navigation_button:hover::after {
  opacity: 1;
}

.contact_button {
  user-select: none;
  position: relative; /* важно для абсолютного ::after */
  height: 75px;
  width: 320px;
  background-color: rgb(0, 0, 0);
  border: 4px solid #000000;
  border-radius: 50px;
  font-size: 30px;
  font-family: "CaviarDreams";
  text-shadow: -1.669px 1.743px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  color: #ffffff;
  padding-left: 30px;
  --dot-size: clamp(50px, 10vw, 55px);
  padding-right: calc(var(--dot-size) + 28px);
  box-shadow: -1.618px 2px 0px 0px rgba(0, 0, 0, 0.43);
  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 0);
  cursor: pointer;
}

.contact_button a {
  color: #000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  position: absolute;
  user-select: none;
}

.contact_button > * {
  position: relative;
  z-index: 10;
  color: #000;
}


.contact_button::after {
  content: "";
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 50%;
  right: 16px; 
  transform: translateY(-50%);
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 9999px; 
  background-color: #ffffff;
  box-shadow: 0 0 4.2px 0.8px rgba(0,0,0,0.5);
  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 0);
  will-change: transform;
  transform-origin: right;
  z-index: 1; 
}

.contact_button:hover::after {
  height: 75px;
  width: 310px;
  right: 12px;
  transform: translateY(-50%) scaleX(1.06);
  transform-origin: 10% 50%;
  background-color: #ffffff;
}

.contact_button:hover a {
  opacity: 1;
  visibility: visible;
}

.contact_button:hover {
  color: #000000;
}



.arrow {
  position: absolute;
  width: 18px;
  height: 18px;
  z-index: 10;
  right: 35px; 
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


@media (max-width: 1150px) {
  .contact_button {
    height: 75px;
    width: 270px;
    font-size: 23px;
  }

  .navigation_button {
    font-size: 27px;
  }

  .contact_button:hover::after {
  height: 75px;
  width: 270px;
  }
}

@media (max-width: 950px) {
  .contact_button {
    height: 75px;
    width: 250px;
    font-size: 20px;
  }

  .contact_button:hover::after {
  height: 75px;
  width: 250px;
}
}


@media (max-width: 600px) and (hover: none) {
  .landing_background {
    gap: 30px;
    background-image: none; 
  }

  .arrow {
  right: 30px; 
}

  .contact_button {
    height: 75px;
    width: 200px;
    font-size: 20px;
  }

  .contact_button {
    height: 75px;
    width: 200px;
    font-size: 20px;
  }


 .landing_background {
    gap: 15px;
    background-image: none; 
  }
}


