.navigation_wrapper {
    width: 100%;
    height: 100vh; 
    display: flex;
    background-color: #ebc434;
    justify-content: center;
    align-items: center;
}

.navigation_block {
  position: relative;
  width: 1400px;
  height: 900px;
}


.navigation_content {
    width: 100%;
    height: 100%;
    position: relative;
    
}


.navigation_about {
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 535px;
    margin: 25px 0px 0px 30px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: -8.491px 9.642px 0px 0px rgba(0, 0, 0, 0.34);
    background-image: url("/images/navigation/about_back.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    padding: 15px;
    overflow: hidden;
    transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_contact{
  width: 400px;
  height: 200px;
  background-color: aliceblue;
  box-shadow: -8.491px 9.642px 0px 0px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: url("/images/navigation/contact_back.png");
  background-size: cover;     
  background-position: 50% 60%;  
  background-repeat: no-repeat; 
  background-size: 160% auto;     
}

.navigation_projects{
  margin: 25px 20px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  width: 879px;
  height: 310px;
  background-color: aliceblue;
  box-shadow: -8.491px 9.642px 0px 0px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  background-image: url("/images/navigation/project_back.png");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
}

.navigation_skills{
  width: 868px;
  height: 275px;
  background-color: aliceblue;
  box-shadow: -8.491px 9.642px 0px 0px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 30px 30px;
  background-image: url("/images/navigation/blog_back.png");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  display: block;
}


.navigation_blog{
  width: 430px;
  height: 510px;
  background-color: aliceblue;
  box-shadow: -8.491px 9.642px 0px 0px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 30px 30px 0;
  background-image: url("/images/navigation/skill_back.png");
  background-size: cover;  
  background-position: 40% 70%;     
  background-repeat: no-repeat; 
  overflow: hidden; 
}



.developer_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('/images/navigation/about_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; 
  z-index: 4; 
  background-position: 40% 60%; 
  background-size: 125% auto; 
  border: #000000 4px solid;
}


.navigation_about::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 1;
  border-radius: 10px;
  display: block;
  transition:
    top 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #000000; 
  border-radius: 0 0 10px 10px;
  z-index: 0; 
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0;
}

.navigation_about:hover::after {
  height: 25%; 
  
}



.button_about {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13%;
  opacity: 0;
  transition:
    opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  z-index: 1;
  
}

.button_about p{
  transform: translateX(-20%);
  font-size: 35px;
  font-weight: 600;
  font-family: "SourceCodePro";
  color: #000000;
}

.button_about p {
  display: inline-block;
}

.navigation_about:hover .button_about p span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  animation: scroll-letter 0.5s ease forwards;
}

@keyframes scroll-letter {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.navigation_about:hover .button_about {
  opacity: 1;
}

.about_content {
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
} 

.navigation_about:hover::before {
  top: 87%;
  height:22%;
  opacity: 1;
  border-radius: 0;
}


.navigation_about:hover .about_content {
    opacity: 0;
}

.navigation_about:hover {
    background-position: center bottom;
}




.navigation_projects::before {
  content: "";
  position: absolute;
  background-color: #3f3f4a;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;  
  z-index: 0;
  border-radius: 10px;   
  display: block;
}



.navigation_skills::before {
  content: "";
  position: absolute;
  background-color: #5a5151;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;  
  z-index: 0;
  border-radius: 10px;   
  display: block;
}



.navigation_contact::before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;  
  z-index: 0;
  border-radius: 10px;   
  display: block;
}



.navigation_blog::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.9;  
  z-index: 0;
  border-radius: 10px; 
  display: block;
   z-index: 0;
}


.about_top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.about_top h2 {
  width: 300px;
  color: #000000;
  font-weight: bolder;
  font-size: 23px;
  font-family: "Intro";
}



.about_bot {
  padding-top: 20px;
  position: relative;
  z-index: 2;
}

.about_bot span {
  font-family: "CaviarDreams";
  font-size: 18px;
  font-weight: bold;
}



@media (max-width: 1000px) {
  .navigation_about,
  .navigation_contact,
  .navigation_projects,
  .navigation_skills,
  .navigation_blog {

    position: static;        
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 0;                         
    border-radius: 0;          
    background-size: cover;    
    background-position: center;
  }
}
