.scroll-container {
    position: relative;
}

.scroll-container> :first-child {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
}

.scroll-container>*:not(:first-child) {
    position: relative;
    z-index: 2;
    background: white;

    margin-top: -100vh;
    padding-top: 100vh;
}